################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/pesctranscriptconverter/.vs
/src/pesctranscriptconverter/bin
/src/pesctranscriptconverter/obj
