name: pesc-cdl-api

on:
  workflow_dispatch:
  push:
    branches:
    - main

    paths:
    - .github/workflows/pesc-cdl-api.yml
    - src/pesctranscriptconverter-api/**
    - assets/cdl/**

  pull_request:
    branches:
    - main

    paths:
    - .github/workflows/pesc-cdl-api.yml
    - src/pesctranscriptconverter-api/**
    - assets/cdl/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/pesc-cdl-api

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Github Action'
      uses: actions/checkout@v4

    - name: 'Set up .NET Core'
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: 'Restore dependencies'
      run: dotnet restore
      working-directory: src/pesctranscriptconverter-api

    - name: 'Build'
      run: dotnet build --no-restore
      working-directory: src/pesctranscriptconverter-api

    - name: 'Test'
      run: dotnet test --no-build --no-restore --report-xunit-trx
      working-directory: src/pesctranscriptconverter-api

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2.21.0
      if: always()
      with:
        files: |
          src/**/TestResults/**/*.xml
          src/**/TestResults/**/*.trx
          src/**/TestResults/**/*.json

  build_docker_image:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Github Action'
      uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker build . --file src/pesctranscriptconverter-api/PescTranscriptConverter.Api/Dockerfile
